/* resert basico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Layout geral */ 

body {
    background: #f4f4f4;
    padding: 40px;
    display: flex;
    justify-content: center;
}

main {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Formulario */ 

form {
    display: flex;
    flex-direction: column;
    gap: 12px
}

label {
    font-size: 14px;
    color: #333;
}

input {
    padding: 10px; 
    border-radius: 6px;
    border: 1px solid #ccc;
}

input:focus {
    outline: none;
    border-color: #007bff;
}

h3 {
    margin: 20px 0px 20px;
}

/* Botões */ 

button {
    padding: 10px;
    border: none; 
    border-radius: 6px;
    background: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2;
}

button:hover {
    background: #005fcc;
}

/* Botão excluir ( para itens da lista ) */ 

.excluir-btn {
    margin-left: 10px;
    background: #e63946;
}

.excluir-btn:hover {
    background: #b0212d;
}

/* Lista */ 

.lista-container {
    margin-top: 20px;
}

.lista-container h3 {
    margin: 10px;
}

.lista-container ul {
    list-style: none;
}

.lista-container li {
    background: #fafafa;
    padding: 10px;
    margin: 8px;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #eee;
}