* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo do Body

- centraliza o conteúdo da tela
- aplica um fundo cinza claro
- mantém a altura minima da tela para centralização vertical 

*/

body {
    background: #f2f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* MAIN ( O CARD DO FORMULARIO)

- fundo branco
- sombra 
- bordas arrendondadas
- espaçamento interno
- tamanho maximo fixo

*/

main {
    background: #fff;
    padding: 30px 35px; 
    border-radius: 12px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
    width: 100%;
    max-width: 420px; 
    margin: 80px;
}

/* TITULO DO FORMULARIO 

- centralizado
- espaço inferior
- tamanho de fonte maior

*/ 

h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
    color: #333;
}

/* Formulario 

- organiza os campos em coluna
- adiciona espaçamento entre elementos

*/ 

form {
    display: flex; 
    flex-direction: column;
    gap: 14px; 
}

/* Rotulos dos campos (label) 

- ajuste de tamanho e cor

*/ 

label {
    font-size: 0.95rem;
    color: #333; 
}

/* 

CAMPOS DE INPUT 
- padding interno 
- bordas arredondadas 
- borda cinza 
- efeito de transição ao focar

*/ 

input {
    padding: 10px 12px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: 0.2s;
    outline: none;
}

/* INPUT FOCADO

- borda azul 
- sombra azul para destaque

*/ 


input:focus {
    border-color: #0077;
    box-shadow: 0 0 4px rgba(0, 119, 255, 0.3);
}

/* BOTÃO ENVIAR

- cor azul chamativa 
- texto em branco
- bordas arredondadas 
- cursor pointer (maozinha)
- transição no hover

*/ 

button {
  margin-top: 10px; 
  padding: 12px;
  background: #0077ff;
  color: #fff; 
  border: none; 
  border-radius: 8px;
  font-size: 1.05rem;
  cursor: pointer; 
  transition: 0.2s;
}

/* EFEITO PASSAR O MOUSE 

- escure um pouco o azul

*/ 

button:hover{
    background: #005fd1;
}
