 * {
    margin: 0;
    padding: 0;
 }

 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(145deg, seaGreen, greenYellow);
 }

 main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
    
 }

 #peso {
    padding: 10px;
    border-radius: 20px;
    border: solid 2px black;
    
}

 #altura {
    padding: 10px;
    border-radius: 20px;
    border: solid 2px black;

 }

 .text {
    color: white;
    font-size: 28px;
}

button {
    padding: 10px;
    width: 190px;
    border-radius: 20px;
    border: solid 2px black;
    background-color: orange;
    color: aliceblue;
    font-weight: bold;

}

p {
    color: aliceblue;
    font-weight: bold;
}

